      body{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }
      .maindiv {
        background-color: #e5ebed;
      }
                                           /* wix  style section start from here*/
      .wixsection {
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;
        /* border: 1px solid; */
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 10;
      }
      .wixlogosection {
        /* border: 1px solid; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 210px;
      }
      .wixcontentsection {
        display: flex;
        /* border: 1px solid; */
        width: 41%;
        height: 65px;
        justify-content: space-around;
        align-items: center;
        gap: 23px;
      }
      .wixicon {
        /* border: 1px solid; */
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 15px;
      }

      .wiximage {
        width: 11%;
      }
      .computericon {
        width: 13%;
        cursor: pointer;
      }
      .phoneicon {
        width: 8%;
        cursor: pointer;
      }
      .emptyline {
        border: 1px solid;
        height: 24px;
      }
      .wixcontentdiv>p{
        font-size: 18px;
        color: #3c4a54;
      }
      .readdiv{
        font-size: 17px;
      }
      .readdiv>a{
         color: #3c4a54;
      }
      .readdiv>a:hover{
        color: #5A43DE;
      }
      .wixbuttondiv>p{
        border: 1px solid;
        border-radius: 8px;
        background-color:#161616 ;
        color: #f6f6f6;
        font-size: 18px;
        display: flex;
        justify-content: center;
        padding: 10px 27px;
        cursor: pointer;
      }
      .wixbuttondiv>p:hover{
        background-color:#4d33de ;
      }
      .wixbuttondiv>a{
        text-decoration: none;
      }
                                    /* rio style section start from here  */
      .riosection {
        width: 100%;
        position: relative;
      }
      .riocontent{
        color: #ffffff;
        position: absolute;
        top: 40px;
        left: 455px;
        font-size: 17px;
      }
      .riocontent>span:hover{
        color: #393c47;
      }
      .riocontent>span{
        cursor: pointer;
        padding: 0px 83px;
      }
      .innerriocontent{
        position: absolute;
        color: #ffffff;
        top: 190px;
        left: 625px;
      }
      .innerriocontent>span{
        padding: 13px;
        font-size: 18px;
      }
      .innerriocontent>img{
        width: 60px;
        height: 6px;
      }
      .welcomediv{
        color: #ffffff ;
        position: absolute;
        top: 220px;
        left: 534px;
      }
      .welcomediv>p{
        font-size: 69px;
        color:  #ffffff;
        margin: 0px;
      }
      .rioimgdiv {
        height: 608px;
      }
                                       /* aboutrio style section start from here  */
      .aboutriosection {
        /* border: 1px solid; */
        background-color: #ffffff;
        width: 64%;
        margin-left: 18%;
      }
                                                     /* home style */
      .homesection {
        /* border: 1px solid; */
        width: 100%;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .homeheading {
        color: #868687;
      }
      .homecontentdiv {
        color: #8f9091;
        font-size: large;
        text-align: center;
      }
      .emptydiv {
        border: 1px solid#ffb730;
        width: 3%;
      }
                                                   /* .apartment style */
      .apartmentsection {
        /* border: 1px solid; */
        width: 100%;
        height: 270px;
        display: flex;
      }
      .apartmentheading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 35%;
        background-color: #6aa3a2;
        text-align: center;
      }
      .apartmentheading > h1 {
        color: #fffefd;
      }
      .Emptydiv {
        border: 1px solid#ffb730;
        width: 10%;
      }
                                               /* apartcontent  style */
      .apartcontentsection {
        /* border: 1px solid; */
        width: 100%;
        height: 270px;
        display: flex;
      }
      .contentsection {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contentsection > p {
        color: #8f9091;
        font-size: large;
      }
      .apartcontentimg {
        width: 52%;
      }
                                               /* aboutlocation style section start from here  */
      .aboutlocationsection {
        /* border: 1px solid; */
        background-color: #ffffff;
        width: 64%;
        margin-left: 18%;
      }
                                                           /* locationstyle */
      .locationsection {
        /* border: 1px solid; */
        width: 100%;
        height: 270px;
        display: flex;
      }
      .headingdiv {
        width: 35%;
        background-color: #6aa3a2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .mainheading > h1 {
        color: #fffefd;
      }

                                                     /* mapstyle */
      .mapsection {
        /* border: 1px solid; */
        width: 100%;
        height: 275px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .mapcontentdiv > p {
        color: #8f9091;
        font-size: large;
        text-align: center;
      }
      .mapbutton {
        cursor: pointer;
        color: #6aa3a2;
      }
                                               /* peoplestyle */
      .peoplesection {
        /* border: 1px solid; */
        width: 100%;
        height: 356px;
        display: flex;
      }
      .peopleimgdiv > img {
        width: 340px;
      }
      .emptysection {
        border: 1px solid#ffb730;
        width: 7%;
      }
      .peoplecontentdiv {
        background-color: #6aa3a2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 6%;
      }
      .nameheading {
        color: #eefafc;
      }
      .aboutpeople > p {
        color: #e4f4f4;
        font-size: large;
      }
                                    /* mid space style section start from here */
      .midemptydiv {
        /* border: 1px solid; */
        background-color: #e5ebed;
        height: 76px;
      }
                                    /* footer style section start from here */
      .footersection {
        /* border: 1px solid; */
        background-color: #e5ebed;
        display: flex;
        width: 64%;
        margin-left: 18%;
        height: 270px;
      }
      .contactcolumn {
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 13%;
        padding: 18px 0px 0px 20px;
      }
      .contactsection {
        color: #4f595e;
        font-size: larger;
      }
      .contactcontent {
        color: #8f9091;
        font-size: 18px;
      }
      .maildiv>span{
        cursor: pointer;
      }
      .followcolumn {
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 17%;
        padding: 18px 0px 0px 8px;
      }
      .followsection {
        color: #4f595e;
        font-size: larger;
      }
      .followimg {
        display: flex;
        width: 130px;
        gap: 13px;
      }
      .subscribecolumn {
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 17%;
        padding-top: 18px;
      }
      .subscribesection {
        font-size: larger;
        color: #4f595e;
      }
      .mailhead {
        color: #4f595e;
        font-size: 17px;
      }
      .mailbox {
        padding: 13px;
        margin: 10px 0px;
        background-color: #e5ebed;
      }
      .checkbox {
        margin: 0px;
        background-color: #e5ebed;
      }
      .subcontent {
        font-size: 17px;
        color: #4f595e;
      }
      .button {
        background-color: #868686;
        color: #fcf6f3;
        cursor: pointer;
        margin-top: 6px;
        padding: 9px 206px 9px 6px;
        font-size: 14px;
      }
                                     /*end style section start from here */
      .endsection {
        /* border: 1px solid; */
        background-color: #e5ebed;
        width: 64%;
        margin-left: 18%;
        color: #8f9091;
        padding: 16px 0px;
      }
      .endsection>p{
        margin: 0px;
      }
      .endsection>p>a{
        color: #8f9091;
      }
                                   /* chat  style section start from here */
      .chatbox{
       padding: 16px 38px;
       color: #ffffff;
       background-color: #6aa3a2;
       display: flex;
       align-items: center;
       font-size: 20px;
       border-radius: 8px;
       cursor: pointer;
       position: fixed;
       bottom: 20px;
       right: 28px;
      }
      .chatbox>img{
        width: 20px;
      }
      .chatbox>span{
        padding-left: 10px;
      }